.App {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

img {
  padding-top: 30px;
  max-height: 400px;
  width: auto;
  max-width: 100%;
  max-height: 30vh;
}

#redtext {
  color: rgb(59, 243, 68);
}

.trent {
  position: fixed;
  bottom: 0%;
  color: grey;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heart {
  color: red;
  font-size: 18px;
}

.ready {
  font-size: 28px;
}

h1, h2 {
  padding-left: 30px;
  padding-right: 30px;
}

.counter {
  font-size: 28px;
}

@media screen and (min-width: 300px) {
  .counter {
    font-size: 36px;
  }
  .ready {
    font-size: 36px;
  }
}